.form-box{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:orangered;
    border-spacing: 40px;
    font-size: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=text],input[type=email],input[type=number],input[type=password]{
    width:250px;
    color: white;
    background: transparent;
    font-size: 17px;
    border-radius: 8px;
}
table th{
    font-size: 20px;
}
input[type=submit]{
    width:120px;
    height:30px;
    border-radius: 8px;
}
input[type=submit]:hover{
background-color: orangered;
color:white;
}
form{
    backdrop-filter: blur(10px);
    border:3px solid orangered;
    border-radius: 8px;
    margin-top: 60px;
}
form p{
    font-size: 30px;
    color:orangered;
}
table {
    border-spacing: 14px;
}
table th,td{
    color:orangered;
}
body{
    background-color: black;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
@media (max-width:470px){
    .form-box{
        width:100%;
    }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



